.costError {
 border: 1px solid #ff0000;
}

.costError:focus {
 outline-color: #ff0000;
}

.formGroup {
  display: inline-block;
}

.formInput {
  margin: 10px;
}

@media (max-width: 767px) {
  .formGroup {
    width: 90%;
    display: block;
  }
}